extends layout

block content
    form(action = "/add" method = "POST")
        label(for = "description") Description
        input(type = "text" id = "description" name = "description")
        button(type = "submit") Add Item